<div class="jumbotron">
  <h2>알라딘 중고서점 검색기 - 헌책 헌터</h2>
  <p class="lead">
    원하시는 중고책이 어디에 있는지 빠르게 찾아볼 수 있도록 마련된 도우미입니다 <br/>
    한번의 검색으로 서울 지역에 있는 모든 알라딘 중고서점의 책을 검색해드립니다 <br/>
    (다만 시간이 조금 걸리는 점 양해바랍니다)
  </p>
</div>
