<footer class="footer">
  <span><%= Date.today.year %> Rinae, powered by <a href="getbootstrap.com/">Bootstrap</a>.</span>
  <span style="float: right;"><a href="https://github.com/emaren84/heonchek-hunter">Github</a></span>
</footer>
